@model Cliente


<div class="mb-3">
     <label asp-for="Name"></label>
     <input asp-for="Name" class="form-control" placeholder="Nome completo"/>
</div>
<div>
     <label asp-for="cpf"></label>
     <input asp-for="cpf" class="form-control" placeholder="CPF 111.111.111-11"/>
</div>
<div class="mb-3">
     <label asp-for="Telefone"></label>
     <input asp-for="Telefone" type="tel" placeholder="(00)0000-00000" class="form-control"  />
</div> 
<div class="mb-3">
     <label asp-for="partida"></label>
     <input asp-for="partida" class="form-control" placeholder="Local de onte quer sair."/>
</div>


<div class="mb-3">
     <label asp-for="chegada"></label>
     <input asp-for="chegada"class="form-control" placeholder="Local onde que chegar."/>
</div>
<div class="mb-3">
    <label asp-for="Carros"></label>
    <select class="form-select" asp-for="CarroId" asp-items="@ViewBag.carrosList">
        <option>Selecione</option>
    </select>
</div>

<div>
     <label asp-for="Pagamentos">Total</label>
     <input asp-for="Pagamentos.Total" class="form-control" value="19,99"/>
</div>

 <div class="mb-3">
     <label asp-for="Cartoes"></label>
     <select class="form-select" asp-for="CartaoId" asp-items="@ViewBag.cartoesList" >
           <option>Selecione</option>
     </select>
 </div>




