@model Pagamento
<div class="mb-3">
     <label asp-for="metodoPagamento"></label>
     <input asp-for="metodoPagamento" class="form-control"/>
</div>
<div>
     <label asp-for="Total"></label>
     <input asp-for="Total" class="form-control" />
</div>





