@model Carro


<div class="mb-3">
     <label asp-for="ModeloCarro"></label>
     <input asp-for="ModeloCarro" class="form-control" placeholder="Modelo do carro"/>
</div>
<div>
     <label asp-for="Placa"></label>
     <input asp-for="Placa" class="form-control" placeholder="AAA5A55"/>
</div>
<div class="mb-3">
     <label asp-for="SenhaPorta"></label>
     <input asp-for="SenhaPorta" type="tel" placeholder="Senha de 6Digitos ex(14%4&8)" class="form-control"  />
</div> 


